<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>ng-watchcollection-polyfill</title>

    <link rel="stylesheet" href="css/demo.css" media="screen" type="text/css" />

</head>

<body>

  <div ng-app="demoApp" ng-controller="demoController" class="container">
    <h2>ng-watchcollection-polyfill</h2>

    <div class="floatleft">
      <div>
        <input ng-model="newItemText" type="text" required />
        <button type="buttom" ng-click="addItem()">Add</button>
      </div>
      <ul ng-model="list" class="list">
        <li ng-repeat="item in list" class="item">
          {{item.text}}
          <button type="button" ng-click="removeItem($index)">X</button>
        </li>
      </ul>
    </div>

    <div class="floatleft" style="margin-left: 20px;">
      <ul class="list logList">
        <li ng-repeat="entry in logList" class="logItem">
          {{entry}}
        </li>
      </ul>
    </div>

    <div class="clear"></div>

  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../src/ng-watchcollection-polyfill.js"></script>
  <script src="js/demo.js"></script>

</body>

</html>